div{
	background-color: green;
}

.box{
	width: 100px;
	height: 100px;
	background-color: blue;
	padding: 10px;
	margin: 10px 20px 30px 5px;
}

#special{
	background-color: red;
}

#special:hover{
	background-color: pink;
}

#special:active{
	background-color: green;
}
